{% extends "homepage.html" %}

{% block title %}
    welcome
{% endblock %}

{% block main %}
    <!-- Background Stars -->
     <div class="paul">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>

        <!-- Welcome Content -->
        <div class="welcome-container">
            <h1>Welcome Back!</h1>
            <p>We’re excited to have you at IYA PAUL KITCHEN again!</p>
            <p>Discover new flavors and your favorite dishes prepared with love.</p>
            <p>"Taste the Magic!"</p>
            <a href="/menu" class="cta-button" aria-label="Explore menu and Create your Meal">Explore Menu and Create your Meal</a>
        </div>
     </div>

{% endblock %}
